html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
}

.header {
  height: 50px;
  background: #f2f2f2;
  width: 100%;
  position: fixed;
  opacity: 0.8;
  z-index: 2;
}

p {
  font-weight: 300;
}

h2 {
  font-size: 30px;
  background: #f8ec32;
  margin: 0;
  padding: 3px 9px 3px 9px;
  font-weight: 500;
}

.header h5 {
  font-size: 14px;
  position: absolute;
  top: 32%;
  right: 2%;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.logo {
  position: absolute;
  top: 18%;
  left: 2%;
  width: 34px;
  margin-bottom: -20px;
} 

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  width: 85%;
}

.container p {
  padding: 14px 0px 10px 0px;
  width: 60%;
  text-align: center;
}

button {
  font-size: 17px;
  color: #a59b0d;
  width: 200px;
  height: 40px;
  background: #f8ec32;
}

button:focus {
  outline: none;
}

.fill {
  height: 110px;
}

.more {
}

.photos {
  display: none;
}

.blue {
  height: 400px;
  width: 100%;
  background: white;
  display: flex;
}

.red {
  height: 400px;
  width: 100%;
  background: white;
  display: flex;
}

.green {
  height: 400px;
  width: 100%;
  background: white;
  display: flex;
}

.photo {
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
}

.blue video {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
  opacity: 0.6;
}

.red video {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 30%;
  opacity: 0.6;
  transform: translate(-50%, -50%)
}

.green video {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
  opacity: 0.6;
}

.description {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.blue,.green {
  text-align: right;
}

.blue .info {
  margin: 0 8% 0 10%; 
  font-size: 14px;
  font-weight: 100;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.red .info {
  margin: 0 10% 0 8%; 
  font-size: 14px;
  font-weight: 100;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.green .info {
  margin: 0 8% 0 10%; 
  font-size: 14px;
  font-weight: 100;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.info:nth-child(3) {
  border: none;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0 -5px 0;
}

.yellow {
  height: 800px;
  background:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 30px;
  margin-bottom: 0px;
}

.yellow .h4 {
  text-align: center;
}

form p {
  font-size: 14px;
}

.line {
  letter-spacing: -1px;
  text-align: center;
}

choose-class {
  display: flex;
  flex-direction: column;
}

form .fill {
  height: 40px;
}

.options {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 12px;
}

.options input {
  margin-left: 20px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  background: none;
  margin-top: 40px;
  font-size: 24px;
  text-align: center;
}

input:focus {
  outline:none;
}

::-webkit-input-placeholder {
  opacity: 0.4;
}

button {
  margin-top: 20px;
  width: 200px;
  border: none;
  border-radius: 5%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 440px) {

  .logo {
      width: 25px;
      top: 22%;
      left: 4%;
  }

  h2 {
    margin-top: 30px;
    font-size: 20px;
  }

  h1 {
    font-size: 35px;
  }

  .blue, .red, .green {
    flex-direction: column;
    height: 640px;
  }
  .red {
    flex-direction: column-reverse;
  }

  video {
    display: none;
  }

  .photo {
  }

  .photos {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%)
  }

  .blue .photos {
    width: 100%;
    height: auto;
    top:60%;
  }

  .green .photos {
    width: 100%;
    height: auto;
    top:70%;
  }

  .description {
    text-align: center;
    height: 0%;
    margin-bottom: 360px;
    flex-grow: 1;
  }

  h4 {
    text-align: center;
    font-size: 20px;
  }

  .container {
  }


}

@media screen and (max-width: 375px) {
}
